body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  background-image: url(images/sky.png);
  background-size: 40px cover;
  background-position: center;
  margin: auto;
}

h1 {
  color: #22424e;
  font-size: 26px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}

form {
  top: 20px;
  left: 80px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #203f4b;
  font-size: 18px;
  font-weight: 150;
  height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

div {
  display: block;
}

a {
  color: #007bff;
}

small {
  font-size: 80%;
  font-weight: 300;
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid #152a31;
  padding: 25px;
  border-radius: 7px;
  margin-top: 60px;
  background-image: unset;
}
.weather-app-wrapper {
  margin: 20px auto;
  max-width: 600px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  position: relative;
}
.units {
  position: relative;
  font-size: 16px;
  top: -39px;
  margin-left: auto;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.search-form {
  margin-bottom: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 60px;
  text-align: center;
  color: #203f4b;
}

.weather-forecast-date {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}
